extends layout


block content

    form.form-horizontal.form-landingPage(method='POST')
      input(type='hidden', name='campaign_token', value='Tr7N1')
      input(type='hidden', name='forward_data', value='')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-1.control-label(for='name') Name
        .col-sm-8
          input.form-control(type='text', name='name')
      .form-group
        label.col-sm-1.control-label(for='email') E-Mail
        .col-sm-8
          input.form-control(type='text', name='email')
      .form-group
        .col-sm-8
        button.btn.btn-primary(type='submit', value='Anmelden')
          i.fa.fa-envelope
          | Send
