extends layout

block content

      div.wrapper
        h1.ueberschrift Willst du mehr, willst du noch besser werden?
        br
        div.video
          iframe.youtubePlayer(width='598', height='336', src='https://www.youtube.com/embed/YWzKAFveXyo', frameborder='0', allowfullscreen='')
        div.videoText
          h3 Du möchtest mehr Erfolg im Geschäft, möchtest besser werden?
          h3 Schaue dir das nachfolgende Video an.... Ich garantiere Dir es wird dir helfen und dich ein Stück weiterbringen.

        form.form-get-button(method='GET', action='/landingPage/2')
              button.btn.btn-primary.btn-get(type='submit')
                i
                | Hier gehts weiter
