extends layout

block content
  h1 Hackathon Starter

  h2 User Table
  p
    | The .table class adds basic styling (light padding and only horizontal dividers) to a table:

  .well=users
  .well=hasProfileData
  table.table
    thead
      tbody
      tr
        th E-Mail
        th ID
        if hasProfileData
          th(colspan=4) Profile
        th Created
      tr
        if hasProfileData
          th(colspan=2)
          th Gender
          th Location
          th Name
          th Website
          th(colspan=1)
        tr
         each row, index in users
            tr
            td= row.email
            td= row._id
            if row.profile
              td=row.profile.gender
              td=row.profile.location
              td=row.profile.name
              td=row.profile. website
            td= row.createdAt
